<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Forgot Password</h1>
      <% include ./partials/messages %>
      <form action="/auth/forgot-password" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
            autofocus
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
